* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #fff6ff;

  font-family: poppins;
}
#load {
  background: #d8bfd8;
  z-index: 999;
  width: 100svw !important;
  height: 100svh !important;
  top: 0;
  left: 0;
  position: fixed;
}
.video {
  width: 20rem;
}
.icon {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
/* /////////////////////////////////// */
header {
  background-image: url(bg.png);
  height: 100vh;
  background-size: cover;
  color: #fff;

  position: relative;
}
.logo {
  max-width: 12rem;
  padding: 2rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 100%;
  padding: 0 10rem 0 10rem;
  /* background-color: rgba(255, 255, 255, 0.05); */
}
.items {
  display: flex;
  list-style: none;
  gap: 3.2rem;
  font-size: 2.8rem;

  font-weight: 500;
}
.items a {
  text-decoration: none;
  color: #fff;
  padding: 0 0 2rem 0;
}
.items a:hover {
  border-bottom: #ffffff 2px solid;
  color: rgba(255, 255, 255, 0.8);
}
.cart svg:hover {
  scale: 1.2;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 2rem;
  background-color: rgba(0, 0, 0, 0.226);
  z-index: 1;

  min-width: 30rem;
}

.dropdown-content a {
  width: 100%;
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content:hover {
  border-left: 0;
}

/* .dropdown:hover .dropbtn {
  border-left: 0;
} */
/* ********************************************************  */
.menu {
  display: none;
  background-color: rgba(0, 0, 0, 0.37);
}
.menulogo {
  max-width: 12rem;
  padding: 2rem;
}
.mainmenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 100%;
  padding: 0 8rem;
  /* background-color: rgba(255, 255, 255, 0.05); */
}
#menuopen:hover {
  scale: 1.2;
}
#menuitems {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;

  gap: 1rem;
  display: none;
  list-style: none;
  gap: 3.2rem;
  font-size: 2.8rem;
  padding: 2rem 8rem 8rem 8rem;
  font-weight: 500;
}
#menuitems a {
  text-decoration: none;
  color: #fff;
}
#menuitems a:hover {
  border-bottom: #ffffff 2px solid;
  color: rgba(255, 255, 255, 0.8);
}
#menuclose {
  display: none;
  transition: 0.3s;
}
#menuopen {
  transition: 0.3s;
}
/* ********************************************************  */
.rutu-title {
  font-size: 12rem;
  font-weight: 400;
  max-width: 120rem;
  position: absolute;
  margin: 0 auto;
  top: 40%;
}
.rutu-desc {
  font-size: 2.4rem;
  line-height: 1.8rem;
  position: absolute;
  margin: 0 auto;
  top: 60%;
}
.header-inner {
  /* padding: 0 3rem; */
  max-width: 120rem;
  margin: 0 auto;
  /* transform: translate(-50%, -50%); */
}
/* ********************************************************  */

.product {
  margin: 0 auto;
  max-width: 120rem;
  margin-top: 12rem;
}

.product-box {
  margin-top: 6rem;
  padding: 0 4rem 0 4rem;
}
.rutucup {
  font-family: rubik;

  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 90rem;
  margin: 0 auto;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  color: #222;
  margin-bottom: 8rem;
}
.rutucup-title svg {
  margin-bottom: 1.5rem;
  max-width: 30rem;
}
.rutucup-desc {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 2rem;
  margin-bottom: 3rem;
  font-weight: 500;
  line-height: 3.2rem;
}
.rutucup-btn {
  color: #fff7ff;
  text-decoration: none;
  font-size: 2.8rem;
  font-weight: 500;
  background-color: #bd97bd;
  padding: 1rem 2rem;
  border-radius: 9px;
  transition: 0.3s;
}
.rutucup-btn:hover {
  transition: 0.3s;
  background-color: #fff7ff;
  color: #bd97bd;
  box-shadow: 0 0 0 2px #bd97bd;

  /* box-shadow: 5px 5px 10px #bd97bde1; */
}
.rutucup-img {
  display: flex;
  justify-content: flex-end;
}
.rutucup-img img {
  max-width: 40rem;
  border-radius: 9px;
}
.rutucup-mobile {
  display: none;
}
hr {
  border: 2px solid #d8bfd8;
  margin: 0 auto;
  max-width: 100rem;
  margin-top: 12rem;
}
/* ********************************************************  */

.wrc {
  margin: 0 auto;
  max-width: 120rem;
  margin-top: 12rem;
  text-align: center;
}
.wrc-title h2 {
  font-size: 6.4rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
}
.wrc-img img {
  margin-top: 6rem;
  max-width: 90rem;
}
/* ********************************************************  */
.cup-pic {
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 4rem;
}
.cup-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 6rem;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 4rem;
  padding: 0 4rem;
}
.cup-img img {
  max-width: 50rem;
  align-items: center;
  justify-content: center;
}
/* ********************************************************  */

.inst {
  margin: 0 auto;
  max-width: 120rem;
  margin-top: 12rem;
  text-align: center;
}
.inst img {
  max-width: 80rem;
  border-radius: 9px;
}
.inst h2 {
  font-size: 6.4rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
  margin-bottom: 5rem;
}

/* ********************************************************  */

.footer {
  margin-top: 12rem;
  background-color: #f7e1f8;
  padding: 4rem 0;
  color: #2b2b2b;
}
.footer-main {
  margin: 0 auto;
  max-width: 90rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  column-gap: 5rem;
}
footer h1 {
  font-size: 2.8rem;
  font-weight: 500;
}
.foot-logos img {
  max-width: 15rem;
}
.footer a {
  text-decoration: none;

  font-size: 1.6rem;
  font-weight: 500;
  transition: 0.3s;
  color: #2b2b2b;
}
.footer a:hover {
  transition: 0.3s;
  font-weight: 800;
}
.pro {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.sec2 {
  margin-left: 1rem;
  display: inline;
}
.sec2,
.sec3 {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font-size: 1rem;
}
.sec3 {
  gap: 3rem;
}
.social {
  display: flex;
  gap: 3rem;
}
.socialicon {
  transition: 0.3s;
}
.socialicon:hover {
  transition: 0.3s;
  scale: 1.2;
}

/* Laptops and desktops */
@media (max-width: 1281px) {
  html {
    font-size: 50%;
  }
  nav {
    padding: 0 6rem;
  }
  .rutucup-title svg {
    margin-bottom: 0;
  }
}
@media (max-width: 870px) {
  .cup-img img {
    max-width: 45rem;
    align-items: center;
    justify-content: center;
  }
  .rutucup {
    display: none;
  }
  .rutucup-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 60rem;
    margin: 0 auto;
    border-radius: 9px;
    color: #222;
    margin-bottom: 8rem;
    gap: 2rem;
  }

  .rutucup-title-mobile svg {
    max-width: 40rem;
  }
  .rutucup-desc-mobile {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 2rem;
    margin-bottom: 3rem;
    font-weight: 500;
    line-height: 3.2rem;
  }
  .size-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
  }
  .size-mobile button {
    background-color: #fff7ff;
    color: #bd97bd;
    width: 5rem;
    height: 5rem;
    border-radius: 10rem;
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none;
    border: none;
    box-shadow: 0 0 0 2px #bd97bd;
    transition: 0.3s;
  }
  .size-mobile button:hover {
    transition: 0.3s;
    background-color: #bd97bd;
    color: #fff7ff;
    border: none;
  }

  .rutucup-btn-mobile {
    color: #fff7ff;
    text-decoration: none;
    font-size: 2.8rem;
    font-weight: 500;
    background-color: #bd97bd;
    padding: 1rem 2rem;
    border-radius: 9px;
    transition: 0.3s;
  }
  .rutucup-btn-mobile:hover {
    transition: 0.3s;
    background-color: #fff7ff;
    color: #bd97bd;
    box-shadow: 0 0 0 2px #bd97bd;
  }
  .rutupcupimg-mobile {
    display: flex;
    justify-content: flex-end;
  }
  .rutucup-img-mobile img {
    max-width: 40rem;
    border-radius: 9px;
  }
}

@media (max-width: 790px) {
  html {
    font-size: 40%;
  }
  .rutucup-title svg {
    height: 9rem;
  }
  .video {
    width: 100%;
  }
  .cart svg {
    scale: 0.8;
  }
  .cart svg:hover {
    scale: 1;
  }

  .footer a {
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 40%;
  }
  .socialicon {
    scale: 0.8;
  }
  .social {
    margin-left: -1rem;
    gap: 1rem;
  }
  .sec3 {
    gap: 1rem;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 32%;
  }
  .product-box {
    padding: 0 6rem;
  }
  .menucart svg {
    scale: 0.8;
  }
  nav {
    display: none;
  }
  .menu {
    display: block;
  }
  .rutucup-title-mobile svg {
    max-width: 40rem;
    height: 12rem;
  }
  .socialicon {
    scale: 0.6;
  }
  .social {
    margin-left: -2rem;
    gap: 0;
  }
  .sec3 {
    gap: 0.8rem;
  }
}

@media (max-width: 500px) {
  .cup-img img {
    max-width: 40rem;
  }
  .wrc img {
    max-width: 80rem;
  }
}

@media (max-width: 430px) {
  .cup-img img {
    max-width: 32rem;
  }
  .wrc img {
    max-width: 65rem;
  }
  .inst img {
    max-width: 70rem;
    border-radius: 9px;
    padding: 0 8rem;
  }
}
/* Common adjustments for mobile */
